<!DOCTYPE html>
<html>
<% include includes/header.ejs %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="hello-world"></div>
    <div id="status"></div>
    <% include includes/footer.ejs %>
  </body>
</html>
